.card__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 0;
}

.card {
  max-width: 600%;
  flex-basis: 500%;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px;
}

.card__list-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 16px;
  width: 100%;
  font-family: Noto serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-item:last-child {
  margin: 0;
}

.card__list-divider {
  display: block;
  min-width: 50px;
  height: 1px;
  background-color: #d9e7ff;
  margin-left: 8px;
  margin-right: 8px;
  flex-grow: 1;
}
