.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  box-sizing: border-box;
  color: #fff;
  padding: 60px 100px 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-right: 10px;
}

.footer__list-item:last-of-type {
  padding-bottom: 0px;
}

.footer__social {
  margin-left: 100px;
}

.footer__social-heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin: 0 0 20px;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__social-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s ease-in-out;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  margin: 108px 0 0;
}
