.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  padding: 30px 80px 40px;
  z-index: 0;
}

/* Typography: block: 2 */
.header__title {
  max-width: 729px;
  margin: 200px 0 0;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

/* Typography: block: 3 span tag portion */
.header__span-accent {
  font-family: noto serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  color: #2f80ed;
  display: block;
}

/* Typography: block: 4 */
.header__description {
  max-width: 683px;
  font-family: noto serif;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__image {
  position: absolute;
  height: 568px;
  width: 646px;
  right: 5px;
  top: 124px;
  z-index: -1;
}
.header__footer {
  position: absolute;
  left: 0px;
  bottom: 40px;
  display: flex;
  width: 100%;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 40px 80px 0;
  justify-content: space-between;
  font-weight: 500;
  color: #838383;
}

.header__paragraph {
  margin: 0;
}
