/* section 2: Menu */
.menu {
  background-image: url("../images/background_menu.svg");
  background-color: #0a2750;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-sizing: border-box;
  padding: 100px 100px 45px;
}

/* Typography: stage 2 block 1 */
.menu__title {
  line-height: 52px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  max-width: 780px;
  margin: 0 auto 24px;
  text-align: center;
}

/* Typography stage 2 block 2 */
.menu__subtitle {
  max-width: 780px;
  margin: 0 auto;
  text-align: center;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  margin-top: 71px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 17px 40px;
}
