/* section 2: Menu */
.menu {
  background-image: url("../images/background_menu.svg");
  background-color: #0a2750;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-sizing: border-box;
  padding: 100px;
  align-items: center;
  flex-direction: column;
  display: flex;
}

/* Typography: stage 2 block 1 */
.menu__title {
  line-height: 52px;
  max-width: 780px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  width: 100px;
}

/* Typography stage 2 block 2 */
.menu__subtitle {
  line-height: 30px;
  max-width: 780px;
  margin-top: 24px;
  text-align: center;
}

.menu__cards {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  max-width: 1300px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
